$primary_color: #00ACEB;
$secondary_color: #2F3192;
$nav_list_color: #ff5156;
$bg_white: #ffffff;
$alice_blue: #f1f6fd;
$dodger_blue: #007bff;
$cobalt_color: #0056b3;
$mercury_color: #eaeaea;
$pantone_color: #696687;
$red_color: #fc4b4b;
$scarlet_color: #eb2f06;
$black_color: #111;
$dolphin_color: #696687;

$blue_violet_rgb: rgba(137, 173, 255, 0.5);
$white_rgba: rgba(255, 255, 255, 0.9);
$gray_color_rgba: rgba(47, 91, 234, 0.135);